<%= form_tag recipes_path, method: :get do %>
<div class="input-group mr-sm-2">
  <input id="query" name="query" type="text" class="form-control" placeholder="Find Your Flavor" aria-label="Find Your Flavor">
  <div class="input-group-append">
    <%= submit_tag "Search", class: "btn btn-outline-light" %>
  </div>
  
</div>
<% end %>
